#root {
    --navbar-width: 160px;
    --color: rgb(2, 8, 19);
 

}

.nav-menu{
    display: flex;
    width: var(--navbar-width);
    min-width: var(--navbar-width);
    flex-direction: column;
    align-items: left;
    position: relative;
    padding: 0.5rem 0rem;
    color: var(--color);
    box-shadow: var(--box-shadow-child);
    border-radius: 10px;
    margin: 15px;
    background-color: var(--background-color-child);
    z-index: 1;
    
    
    
    
}

.nav-menu.toggle{
    --navbar-width: 54px;
    --color: blue;

    
}

.nav-menu ul {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0;
    
}

.nav-menu li {
    list-style-type: none;
    padding: 0.5rem;
    display: flex;
    
    
}

.nav-menu li:hover{
    background-color: var(--background-color);
    border-radius: 10px;
    transition: 0.2s ease-in-out;

}


.nav-menu li:hover::before{
    content: "";
    position: absolute;
    min-width: 2px;
    height: 25px;
    left: 3px;
    background-color: purple;
    
}

.icon{
    padding-right:1rem;
    z-index: 10;
}



.nav-menu li a {
    text-decoration: none;
    
}



.nav-menu li .active::before{
    content: "";
    position: absolute;
    min-width: 5px;
    height: 25px;
    left: 3px;
    background-color: purple;
    z-index: 10;


}



.nav-menu li .active::after{
    content: ".";
    position: absolute;
    left: 0;
    width: 100%;
    color: transparent;
    background-color: var(--background-color);
    opacity: 0.8;
    border-radius: 10px;
    z-index: -1;

    
}
