#root {
    --navbar-width: 160px;
    --color: red;
 

}

.nav-menu{
    display: flex;
    width: var(--navbar-width);
    min-width: var(--navbar-width);
    flex-direction: column;
    align-items: left;
    position: relative;
    padding: 0.5rem 0rem;
    color: var(--color);
    box-shadow: 0 2px 2px 2px;
    
}

.nav-menu.toggle{
    --navbar-width: 60px;
    --color: blue;

    
}

.nav-menu ul {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0;
    
}

.nav-menu li {
    list-style-type: none;
    padding: 0.5rem;
    display: flex;
}

/* .nav-menu li:hover{
    transform: scale(1.1);
} */

.nav-menu li:hover::before{
    content: "";
    position: absolute;
    min-width: 2px;
    height: 25px;
    left: 3px;
    background-color: purple;
}

.icon{
    padding-right:1rem;
}


.nav-menu li a {
    text-decoration: none;
}

.nav-menu li .active::before{
    content: "";
    position: absolute;
    min-width: 5px;
    height: 25px;
    left: 3px;
    background-color: purple;


}

