.upper {
    display: flex;
    position: relative;
    width: auto;
    height: 10vh;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow-child);
    margin: 15px;
    background-color: var(--background-color-child);
    border-radius: 10px;

}