.hamburger {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    z-index: 5;
    cursor: pointer;
    
}

.burger {
    width: 2rem;
    height: 0.15rem;
    border-radius: 10px;
    background-color: black;
    transition: 0.3s linear;
    margin-left: 5px;

}

.xburger {
    width: 2rem;
    height: 0.15rem;
    border-radius: 10px;
    background-color: red;
    transition: 0.3s linear;
    margin-left: 5px;

}